.confirm-box {
  // for aligment of modal vertically center
  &.modal {
    padding: 0 !important;
    text-align: center;
  }

  &.modal::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }

  // confirm box header style
  .modal-header {
    padding: 15px;
    border-bottom: none;
    position: relative;

    .close {
      width: 25px;
      height: 25px;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 1.5rem;
    }
  }

  .modal-footer {
    border-top: 0;

    .btn {
      padding: 15px;
      font-size: 1.2rem;
    }
  }

  .modal-body {
    padding: 0 15px;
  }
}
